<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Joseph Olanrewaju-Gabriel</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Joseph Olanrewaju-Gabriel.</h1>
      <h2>a <span class="pro">Pro</span>grammer and a DevOps Engineer.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/python.png" alt="Python-img">
    <img class="mountain" src="static/HTML&CSS.png" alt="HTML&CSS-img">
    <img class="mountain" src="static/Flutter.png" alt="Flutter-img">
    <img class="mountain" src="static/AWS.png" alt="AWS-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/picture.png" alt="Joseph-OlaGabriel-profile-img">
      <h2>Hello Recruiters.</h2>
      <p class="intro">I am a Developer and an AWS DevOps expert. I'm the founder of cloudcodesandsecurity.com (A community of Experts).
        I ❤️  Coding, interacting with professionals and Travelling.</p>
    </div>
    <div>
      <img class="mountain" src="static/wiz.png" alt="wiz-img">
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code March 2013 because I have a passion for software development.
          Over time, I have gained a wealth of experience designing, developing and hosting  mobile and web applications on AWS cloud.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/Salesforce.png" alt="chillies-img">

        <h3>Personal Training and Development</h3>
        <p>Though, my best skill is Programming, I strive to understand more technologies which enhances
          my software development career paths. I have spent quality hours learning technologies such as:<br>
        A) Salesforce - I am a certified Administrator and intend learning the coding aspect<br>
        B) Cybersecurity<br>
        C) CCNA<br>
        D) Computer and Mobile Hardware engineering<br></p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love my skills and passion.</h3>
      <p class="contact-message">Do you love programming and Cloud architecture as much as I do?
        Let's talk about how awesome they are! We can code and learn from each others' expertise!</p>
      <a class="btn" href="mailto:joseph.olagabriel@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/joseph-olanrewaju">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/1chdkayla">Twitter</a>
    <a class="footer-link" href="https://www.cloudcodesandsecurity.com/">Website</a>
    <p class="copyright">© 2022 Joseph Ola-Gabriel @ The cloudcodesandsecurity.</p>
  </div>
</body>

</html>
